.byline {
    font-size: 80%;
    color: #a8a8a8;
}

.arrows {
    color: #a8a8a8;
}

.upvoted {
    color: #ca744c;
}

.downvoted {
    color: #330fd6;
}

.make-comment {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}
